<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AWSKinesisConnect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AWSLogMetrics" value="true"/>
    <!-- Logging must be enabled to collect metrics -->
    <add key="AWSLogging" value="SystemDiagnostics"/>
  </appSettings>
  <applicationSettings>
    <AWSKinesisConnect.Properties.Settings>
      <setting name="SecretAccess" serializeAs="String">
        <value>SECRET-KEY-HERE</value>
      </setting>
      <setting name="AccessKey" serializeAs="String">
        <value>ACCESS-KEY-HERE</value>
      </setting>
      <setting name="SessionToken" serializeAs="String">
        <value>ACCESS-TOKEN-HERE</value>
      </setting>
    </AWSKinesisConnect.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <trace autoflush="true"/>

    <sources>
      <source name="Amazon">
        <listeners>
          <add name="text"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="c:Logssdk-log.txt"/>
        </listeners>
      </source>
    </sources>

  </system.diagnostics>
</configuration>